
<footer class="page-footer" style="margin-top : 90px;">
  <div class="container">
    <div class="row">
      <div class="col l1 s12">
      </div>
      <div class="col l1 offset-l2 s12">
        <!--TODO: Seiten für Impressum, Datenschutz und Kontakt erstellen-->
        <a class="grey-text text-lighten-3" href="#!">Impressum</a>
      </div>
      <div class="col l1 offset-l2 s12" style="margin-bottom : 20Px;">
        <a class="grey-text text-lighten-3" href="#!">Datenschutz</a>
      </div>
      <div class="col l1 offset-l2 s12" style="margin-bottom : 20Px;">
        <a class="grey-text text-lighten-3" href="#!">Kontakt</a>
      </div>
    </div>
  </div>
</footer>
